body {
  margin: 0;
}

nav {
  background: #d0f1b0;
  padding: 5px;
  border-radius: 5px;
}

nav a{
  color: black;
  text-decoration: none;
  font-size: 1.25em;
  padding: 5px;
}

.container{
  width: 80%;
  min-width: 400px;
  margin: 0 auto;
}

.homepage-banner{
  text-align: center;
  color: #648e2c;
  font-size: 2em;
  max-width: 100%;
}

.homepage-banner hr{
  width: 20%;
}

.my-button{
  display: block;
  width: 200px;
  margin: 10px auto;
  background-color: #4CAF50;
  border: none;
  border-radius: 10px;
  color: white;
  text-align: center;
  text-decoration: none;

}

.blue-background {
  background: blue;
}

.deck-header{
  margin-top: 20px;
  display: block;
  overflow: auto;
}

.deck-header-title{
  float: left;
  width: 50%;
  color: green;
}

.deck-header-title h1{
  margin: 0;
}

.deck-header-actions{
  float: right;
  width: 50%;
  color: red;
  text-align: right;
}
