{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>uStudy</title>
    <link rel='stylesheet' href="{% static 'css/style.css' %}" />
  </head>
  <body>
      <nav>
        <a href="{% url 'home' %}">uStudy</a> |
        <a href="{% url 'flashcards:home' %}">Decks</a> |
        <a href="">About</a> |
        <a href="">Contact</a>
        {% if request.user.is_superuser %}
          | <a href="{% url 'admin:index' %}">Admin Panel</a>
        {% endif %}
      </nav>

      {% block content %}
      {% endblock %}

  </body>
</html>
