{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>uStudy</title>
    <link rel='stylesheet' href="{% static 'css/style.css' %}" />
  </head>
  <body>
      <nav>
        <a href="">uStudy</a> |
        <a href="">Decks</a> |
        <a href="">About</a> |
        <a href="">Contact</a>
      </nav>

      <div class='homepage-content'>
        <div class='homepage-banner'>
          <h1>uStudy</h1>
          <hr>
          <h4>Harness the Power of U!</h4>
          <a class='button' href="">Get Started</a>
        </div>
      </div>
  </body>
</html>
